/*navbar*/
.losi{
    display: flex;
   justify-content: space-between;
   align-items: center;
 margin-left: 30px;
 margin-right: 30px;
}
/*bannar*/
.bannar{
    text-align: center;
}

/*button*/
.btn-all{
    background-color: blue;
    color: aliceblue;
    border-radius:10px ;
   padding: 10px;
    ;
   height: 50%;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size:larger;
}
.btm{
    background-image: url(Hero-bg.png);
 padding-bottom: 200px;

}
.acts{
   display: flex;
   justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  padding:130px 150px;
  column-gap:20px;
  align-content: space-between;
  margin: 10px;

}

